{% extends 'base.html' %}

{% block content %}
    <h3>전체 글 보기</h3>
    <div class="container-fluid">
        <div class="row align-items-start font-weight-bold">
            <div class="col">#</div>
            <div class="col">Tag</div>
            <div class="col-5">Title</div>
            <div class="col">Owner</div>
            <div class="col">Views</div>
        </div>
        {% for post in posts %}
            <div class="row">
                <div class="col">{{ post.pk }}</div>
                {% for tag in post.tags.all %}
                    {% if forloop.last %}
                        <a href="{% url 'board:tag-list' tag=tag %}" class="col">{{ tag }}</a>
                    {% endif %}
                {% endfor %}
                <div class="col-5"><a href="{% url 'board:post-detail' pk=post.pk %}">{{ post.title }}</a></div>
                <div class="col">{{ post.user }}</div>
                <div class="col">{{ post.view_count }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}