{% extends 'base.html' %}
{% block content %}
    <h2 class="text-center">Sign up</h2>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>
                {{ field }}
            </div>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">signup</button>
    </form>
{% endblock %}